*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width:100vw;
    height:100vh;
    background-color: rgb(59, 7, 7);
}
.wrapper{
    width:80vmin;
    padding:50px 40px;
    background-color: rgb(162, 162, 162);
    position:absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    border-radius:5px;
    box-shadow: 20px 20px 40px rgba(8, 8, 8, 0.345);
}
span{
    display: block;
    text-align: center;
    font-size: 85px;
}

#joke{
    margin: 30px;
    font-size: 26px;
    font-weight:700;
    color:rgb(30, 5, 5);
    text-shadow: 1px 1px 2px #ffffff;
    text-align: center;
    word-wrap: break-word;
}

#btn{
   display: block;
   height:60px;
   width:35%;
   background-color: rgb(59, 7, 7);
   padding:14.3px;
   text-align: center;
   margin:0 auto;
   outline:none;
   border:none;
   color:white;
   font-size:1.45rem;
   font-weight:550;
   border-radius: 4px;
   box-shadow: 10px 10px 40px rgba(8, 8, 8, 0.345);
   text-shadow: 1px 1px 1px black;
   cursor:pointer;
}